[Unit]
Description=Run %p
Requires=docker.service postgres.service redis.service
After=docker.service postgres.service redis.service

[Service]
Restart=always
User=jeck
ExecStartPre=-/bin/sh -c '/usr/bin/docker logs --tail=all %p > /tmp/%p_`date +%%s`.log'
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStart=/usr/bin/docker run -t --rm --name %p \
  --link redis:redis --link postgres:postgres \
  -p 4567:4567 \
  --env-file /home/jeck/config/.env.list \
  -v /dev/urandom:/dev/random \
  %p
ExecStartPost=-/usr/bin/docker stop my-nginx
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target nginx.service
